<%= form_for @user, html: {multipart: true} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-field">
    <div class="user-left">
      <%= f.label :email %>
    </div>
    <%= f.email_field :email, :required => true, :autofocus => true %>
  </div>
  <div class="user-field">
    <div class="user-left">
      <%= f.label :first, 'First name' %>
    </div>
    <%= f.text_field :first, :required => true %>
  </div>
  <div class="user-field">
    <div class="user-left">
      <%= f.label :last, 'Surname' %>
    </div>
    <%= f.text_field :last, :required => true %>
  </div>

  <% if !@current_user.present? %>
    <div class="user-field">
      <div class="user-left">
        <%= f.label :password %>
      </div>
      <%= f.password_field :password, :required => (true unless @current_user.present?) %>
    </div>
    <div class="user-field">
      <div class="user-left">
        <%= f.label :password_confirmation %>
      </div>
      <%= f.password_field :password_confirmation, :required => (true unless @current_user.present?) %>
    </div>
  <% end %>
  
  <div class="user-field">
    <div class="user-left">
      <%= f.label :image, 'Upload profile picture' %>
    </div>
    <%= f.file_field :image %>
  </div>
  <div class="user-field">
    <div class="user-left">
      <%= f.submit %>
    </div>
  </div>
<% end %>
