<% if !@current_user.present? %>
  <div class="navbar">
    <%= button_to 'Sign up', signup_path, method: :get, :class => 'button button-2 sign-up' %>
    <%= button_to 'Log in', login_path, method: :get, :class => 'button button-2 log-in' %>
  </div>
<% else %>
  <div class="navbar">
    <%= button_to 'Messages', messages_path, method: :get, :class => 'button button-3 messages' %>
    <%= button_to 'Your details', edit_user_path(@current_user.id), method: :get, :class => 'button button-3 profile'  %>
    <%= button_to 'Log out', login_path, method: :delete, :class => 'button button-3 log-out' %>
  </div>
<% end %>
